/* COLOR VARIABLES */

:root {

}

/* GENERAL*/

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed turquoise;
}

img {
    width: 100%;
}

.container-game {
    width: 80%;
    margin: 2rem auto;
    border-radius: 3rem;
}

.container-game:first-child {
    background-color: gold;
}

.container-game:nth-child(2) {
    background-color: turquoise;
}