/* COLOR VARIABLES */

:root {
    --azure: rgb(93, 199, 236);
    --yellow: rgb(246, 195, 68);
}

/* GENERAL*/

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed turquoise;
}

img {
    width: 100%;
}

.container-game {
    width: 80%;
    margin: 1rem auto;
    border-radius: 2rem;
}

.container-game:first-child {
    background-color: var(--yellow);
}

.container-game:nth-child(2) {
    background-color: var(--azure);
}

.sub-container {
    padding: 0 5rem;
}